@media screen and (max-width: 1100px) {
  .post__title {
    font-size: 1.8rem;
  }

  .post__description {
    font-size: 1.6rem;
  }

  .featured__title {
    font-size: 1.8rem;
  }

  .featured__description {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 915px) {
  .nav__pages {
    display: none;
  }

  .nav__right {
    display: none;
  }

  .nav__menu {
    display: block;
  }
  .post__title {
    font-size: 1.5rem;
  }

  .post__description {
    font-size: 1.2rem;
  }

  .featured__title {
    font-size: 1.7rem;
  }

  .featured__description {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 700px) {
  .post__wrapper {
    flex-direction: column;
  }
}
