.post {
  background: #d50032;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 90rem;
  margin-bottom: 2rem;
}

.post__wrapper {
  display: flex;

  flex: 1;
}

.reverse {
  flex-direction: row-reverse;
}

.post__content {
  color: #fff;
  text-align: center;

  flex: 1;
}

.post__image {
  flex: 1;
}

.post__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

.content__wrapper {
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.post__title {
  letter-spacing: 6px;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.post__description {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.post__button {
  font-size: 1.4rem;
  font-weight: bold;
  border: 1px #fff solid;
  padding: 0.3rem 1rem;
  border-radius: 5rem;
  margin-bottom: 1rem;
  width: fit-content;
}
